/** GENERAL SETTINGS**/
:root{
    --primary:#044709;
    --primary-variant: #4CAF50;
    --secondary:#75B432;
    --secondary-variant: #E7FFCE;
    --background: #FFFFFF;
    --surface: #F6F8ED;
    --light-gray: #F8F8F8;
    --text-dark: #212121;
    --error: #BE0000;
}

body {
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none !important;
}

button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    outline: none;
}

/** TABLE SETTINGS */
.table thead th {
    background-color: var(--primary);
    color: var(--background);
    text-align: center;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
    font-size: small;
    padding: 0.2em;
    border-color: var(--background);
}

.table td, tr {
    text-align: center;
    vertical-align: middle;
    font-family: 'Inter', sans-serif;
    font-size: small;
    border-color: #bebebe;
}